html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.main-footer{
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    max-height: 100px;
    text-align: center;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.tablep td{
    text-align: center;
    vertical-align: middle !important;
}


.tablep th {
    vertical-align: middle !important;
    text-align: center;
}

.vermelho{
    color: #c0392b;
}

.bg-vermelho{
    background-color: #c0392b !important;
    color: #fff;
}

.verde {
    color: #27ae60;
}

.bg-verde{
    background-color: #27ae60 !important;
    color: #fff;
}

.charts{
    padding: 1rem;
    margin: 1rem;
}


.fixed-top{
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-link{
    padding: 1rem;
    vertical-align: middle !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.nav-link:hover, .navbar-brand:hover{
    color: #fff;
    font-weight: 800;
}

.nav-item{
    margin-top: 12px;
}

.navbar-brand{
    color: #fff;
}

.mr-auto{
    list-style: none;
}

.buscarmenu{
    margin-top: 5px;
}

.jumbotron-billboard{
    margin-top: 4%;
    background-color: #fff;
    background-image: url("../img/jumbo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: inset 2px 13px 54px 16px #3097D1;
    -moz-box-shadow: inset 2px 13px 54px 16px #3097D1;
    box-shadow: inset 2px 13px 54px 16px #3097D1;
}

jumbotron h3{
    vertical-align: middle !important;
}

.dados{
    font-size: 35px;
    font-weight: 800;
    color:#3097D1;
}

.badge{
    background-color: #3097D1;
}